

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* *header style */

.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
}


/* * shared style */
.text-primary{
    color: #FD6E0A;
}


/* *nav style */

.dark-2{
    color: #474747;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}
.nav-tittle{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}

/* *Benar style */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2px 0 100px;
}

.banner-containt{
    max-width: 580px;
}

.banner-greting{
    font-size: 25px;
    font-weight: 600;
}
.banner-tittle{
    font-weight: bold;
    font-size: 45px;
}
.banner-discription{
    font-weight: 400;
    font-size: 15px;
}

/* *main section style */

main{
    max-width: 1170px;
    margin: 0 auto;
}

/* *About section style */



.about-me{
    padding: 130px 150px;
    text-align: center;
    margin-top: 110px;
    background-color: #FFF8F3;
}

.about-tittel{
    font-weight: bold;
    font-size: 35px;
    color: #1E1E1E;
}
.about-discription{
    font-weight: 600;
    font-size: 18px;
    color: #181818;
}
.about-items{
    display: flex;
    justify-content: space-between;
}
.item-tittel{
    font-weight: bold;
    color: #1E1E1E;
}
.item-tittel-discription{
    color: #181818;
    font-weight: 600;
}